* {
	font-family: sans-serif;
	box-sizing: border-box;
}

header {
	text-align: center;
	color: #000000;
	font-weight: bolder;
	font-size: 150%;
	margin-top: 30px;
	background-color: #6d6d6d;
}

body {
	background-color: #6d6d6d;
	margin:0px;
	margin-left: 3%;
	margin-right: 5%;
	margin-top: 5%;
	padding: 0px;
}

.menuBox {
	position: relative;
	background-color: #f6d99c;
	margin: 50px;
	margin-right: 2%;
	margin-left: 2%;
	width: 29%;
	border: 4px solid black;
	float: left;
	overflow: auto;
}
	
.menuName {
	position: relative;
	left: 10%;
	margin-left: 50%;
	margin-right: 10%;
	text-align: center;
	font-weight: bold;
	border-bottom: 4px solid black;
	border-left: 4px solid black;
	background-color: #f2d28f;
}

.menuItem {
	background-color: #f6d99c;
	padding: 5px;
	text-align: justify;
}

@media (min-width: 992px) {
	.menuBox {
		width: 29%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#box1{
		width: 46%;
		margin-right: 2%;
		margin-left: 2%;
	}

	#box2{
		width: 46%;
		margin-right: 2%;
		margin-left: 2%;
	}

	#box3{
		width: 100%;
	}
}

@media (max-width: 767px){
	#box1 , #box2 , #box3{
		width: 100%;
	}

	#box1{
		width: 100%;
	}
	
	#box2{
		width: 100%;
	}

	#box3{
		width: 100%;
	}
}